/* Añade margen al body para compensar el header fijo */
section {
    margin: 0;
    padding-top: 80px;
}

.header {
    height: 80px;
    color: white;
    background-color: rgba(0, 17, 255, 0.863);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgb(255, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

.header-izquierda {
    flex: 1;
    display: flex;
    align-items: center;
}

.imagen-uni {
    height: 50px;
    width: auto;
    object-fit: contain;
}

.header-centro {
    flex: 2;
    text-align: center;
}

.titulo {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.header-derecha {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.icono-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

.icono {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
    color: white;
}

.icono:hover {
    transform: scale(1.2);
    color: #007bff;
}

.icono-link:hover .bi-facebook {
    color: #1877F2;
}

.icono-link:hover .bi-youtube {
    color: #FF0000;
}

.icono-link:hover .bi-twitter-x {
    color: #ea04ff;
}

.icono-link:hover .bi-instagram {
    color: #E4405F;
}