/* Estilos Balota */

.balota{
    width: 8rem;
    height: 8rem;
    font-size: 4rem;
    color: aliceblue; /* Color de la fuente */
    background-color: #8b0000e1;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}